@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.account_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.account_form {
    min-height: 100vh;
    // background: #f0faff;
    background-image: url("https://ifdesign.com/ifservice/795993/342804/00000000-0000-0000-0000-000000000000/01_main_entry_img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit_btn_res {
    background-color: #4070f4;
    color: white;
}
.wrapper {
    // display: flex;
    //   align-items: center;
    //   justify-content: center;
    position: relative;
    max-width: 470px;
    width: 100%;
    border-radius: 12px;
    padding: 20px 30px 120px;
    background: rgba(#2e3036, 0.8);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form.login {
    position: absolute;
    left: 50%;
    bottom: -86%;
    transform: translateX(-50%);
    width: calc(100% + 220px);
    padding: 20px 140px;
    border-radius: 50%;
    height: 100%;
    background: #fff;
    transition: all 0.6s ease;
}

.wrapper.active .form.login {
    bottom: -12%;
    border-radius: 37%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.form header {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.form.login header {
    color: #333;
    opacity: 0.6;
}

.wrapper.active .form.login header {
    opacity: 1;
}

.wrapper.active .signup header {
    opacity: 0.6;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

form input {
    height: 60px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background: #fff;
}

.form.login input {
    border: 1px solid #aaa;
}

.form.login input:focus {
    box-shadow: 0 1px 0 #ddd;
}

form .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox input[type="checkbox"] {
    height: 16px;
    width: 16px;
    accent-color: #fff;
    cursor: pointer;
}

form .checkbox label {
    cursor: pointer;
    color: #fff;
}

form a {
    color: #333;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

form input[type="submit"] {
    margin-top: 15px;
    padding: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.form.login input[type="submit"] {
    background: #4070f4;
    color: #fff;
    border: none;
}
