// .ant-btn-primary{
//     display: none;
// }
.ant-modal-body{
    // background-color: red !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
